<!doctype html>
<title>Hello from FusionAuth</title>
<body>

This is a sample OAuth/Flask application. 
<br/>
<br/>
{% if user %}
  <h1>Hello {{ user.email }}!</h1>

  {% if error %}
    <p style="color:red">Error: {{ error }}</p> 
  {% endif %}
  <div>
  <h3>Current data</h3>
  {% if user_data %}  
    {% for key in user_data.keys() %}
      <p>
      {% if key == 'geographicarea' and user_data['geographicarea'] | length > 0 %}
        Geographic area: {{user_data['geographicarea']}}
      {% endif %}
      {% if key == 'maxprice' %}
        Maximum home price: {{ "$%.0f"|format(user_data['maxprice'])}}
      {% endif %}
      {% if key == 'minprice' %}
        Minimum home price: {{ "$%.0f"|format(user_data['minprice'])}}
      {% endif %}
      </p>
    {% endfor %}
  {% endif %}

  </div>
  <div>
Update your data: 

<form action="/update" method="post">
  <textarea name="user_data">
    {{user_data}}
  </textarea>
<br/>
  <input type="submit" value="Update"></input>
</form>

  </div>
{% else %}
  <div>
    Log in or register to update your profile.
  </div>
  <div>
    <a href='/login'>Login</a> | <a href='/register'>Register</a>
  </div>
{% endif %}
</body>
</html>
