<!doctype html>
<title>Hello from FusionAuth</title>
<body>

This is a sample OAuth/Flask application. 
<br/>
<br/>
{% if user %}
  <h1>Hello {{ user.email }}!</h1>

  {% if error %}
    <p style="color:red">Error: {{ error }}</p> 
  {% endif %}
  <div>
  Current data: <br/>
  {% if user_data %}
    {% for key in user_data %}
      {{key}}: {{user_data[key]}}<br/>
    {% endfor %}
  {% endif %}

  </div>
  <div>
Update your data: 

<form action="/update" method="post">
  <textarea name="user_data">
    {{user_data}}
  </textarea>
<br/>
  <input type="submit" value="Update"></input>
</form>

  </div>
{% else %}
  <div>
    Log in or register to update your profile.
  </div>
  <div>
    <a href='/login'>Login</a> | <a href='/register'>Register</a>
  </div>
{% endif %}
</body>
</html>
